

body {
background-image: url(https://i.pinimg.com/originals/5c/c0/1f/5cc01f231bada675f4f8e0af38fca868.jpg); 
background-size: 100% 100%;
background-attachment:fixed; 
	
}



.menu {
	display: flex;
	width:auto;
	justify-content: flex-start;
	background-color: rgba(119, 119, 119, 0.39);
}

.menu>button {
	display: flex;
	background-color: rgb(247, 84, 228);
	color: white;
	width: 180px;
	height: 40px;
	margin: 3px;
	border-radius: 8px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

button:hover {
	background-color: white;
	color:  rgb(247, 84, 228);
	font-weight: bold;
	
	box-shadow:2px 2px 25px 2px rgb(255, 23, 228);
}

#foto1 {
	display: flex;
	flex-wrap: wrap;
	
	background-color: pink;
	color: purple;
	width: 1503,2px;
	height: 500px;
	padding: 15px;
	text-align: center;
}

#foto2 {
	display: flex;
	flex-wrap: wrap;
	
	background-color: rgb(173, 253, 142);
	color: purple;
	width: 1503,2px;
	height: 500px;
	padding: 15px;
	text-align: center;
}

#foto3 {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	background-color: rgb(102, 203, 243);
	color: purple;
	width: 1503,2px;
	height: 500px;
	padding: 15px;
	text-align: center;
}

#foto4 {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	background-color: rgb(240, 255, 104);
	color: purple;
	width: 1503,2px;
	height: 500px;
	padding: 15px;
	text-align: center;
}

#foto5 {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	background-color: rgb(139, 139, 136);
	color: purple;
	width: 1503,2px;
	height: 500px;
	padding: 15px;
	text-align: center;
}
img {
	opacity: .5;
	padding: 5px;
}

img:hover {
	opacity: 1;
}

footer {
	position: fixed;
	text-align:end;
	width: 100%;
	height: 15%;
	bottom: 0;
	left: 0;
	font-size: 2em;
	color: rgb(255, 23, 228);
	background-color: rgba(119, 119, 119, 0.51);
}

.signature {
	font-size: .48em;
	display:flex;
	justify-content: flex-end;
	text-align: center;
	align-items: center;
	background-color: #e0e0e0;
	color: black;
}







	
	

