body {
	
	background: url(https://i.pinimg.com/originals/5c/c0/1f/5cc01f231bada675f4f8e0af38fca868.jpg);
	background-repeat: no-repeat;
	background-size: 100% 90%;

	position: absolute;
	background-attachment: fixed;
	animation: example 23s infinite;
}

@keyframes example {
	0% {
		background-size: 10% 20%;
		background: opacity: 0.2
	}

	25% {
		background-size: 30% 50%;
		background: opacity: 0.2
	}

	50% {
		background-size: 70% 70%;
		background: opacity: 0.2
	}

	100% {
		background-size: 100% 90%;
		background: opacity: 0.2
	}

}

div {
	height:300px;
}

footer {
	
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 2em;
	color: deeppink;
	background-color: #777;
}

.signature {
	font-size: .28em;
	display:flex;
	justify-content: flex-end;
	text-align: center;
	background-color: #e0e0e0;
}







	
	

